<a href="https://colab.research.google.com/github/ateglia/Angelina/blob/main/In_Class_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 2

In [ ]:
5 + 3.0

8.0

In [ ]:
1 - 2

-1

In [ ]:
2 * 3

6

In [ ]:
6 / 4

1.5

In [ ]:
6.0 // 4

1.0

In [ ]:
2 ** 3

8

In [ ]:
2 % 3

2

In [ ]:
3.14 * (3 ** 2)

28.26

In [ ]:
3 > 5

False

In [ ]:
4 == 5

False

In [ ]:
4 != 5

True

In [ ]:
s = 'abc'

In [ ]:
name = 5

In [ ]:
cntr = 0

cntr = cntr + 1

cntr += 1
cntr -= 1
cntr *= 1

In [ ]:
True
False

In [ ]:
and

or

not

In [ ]:
a = False
b = False

a and b

False

In [ ]:
a = True
b = True

a or b

True

In [ ]:
a = False

not a

True

In [ ]:
pi = 3.14
radius = 3

pi * radius ** 2

28.26

In [ ]:
class2026 = 'abc'
2x = 5

SyntaxError: invalid decimal literal (ipython-input-2196380357.py, line 2)

In [ ]:
studentloan = 90
studentloan = 90
student_loan = 90

student loan = 9879

SyntaxError: invalid syntax (ipython-input-501224506.py, line 5)

In [ ]:
x = 5

x = 'abc'

In [ ]:
type(x)

str

In [ ]:
isinstance(x, (int, float, str))

True

In [ ]:
x = 3
y = 4

In [ ]:
x, y = 3, 4

LECTURE 2

WEEK 2

In [ ]:
interest = 3 # The percentage interest value
principal = 3000 # Initial deposit
n = 1 # Number of years

final = principal * (1 + interest / 100)

print(final)

3090.0

```python
print(1,3)
"1"+" "+"3"+"\n"

"1 3\n"

In [ ]:
print(interest, principal)
print(n)

3 3000
1

In [ ]:
print("Interest rate", interest, sep="=>")
print("Number of years: ", n)

Interest rate=>3
Number of years:  1

In [ ]:
print("Interest rate", interest, end="---")
print("Number of years=", n)

Interest rate 3---Number of years= 1

In [ ]:
print("Interest rate", interest, sep=">>>", end="&&&")
print("Number of years", n, sep="")

Interest rate>>>3&&&Number of years1

In [ ]:
print("Interest rate: {}; Number of years={}" .format(interest,n))

Interest rate: 3; Number of years=1

In [ ]:
print(f"Intersest rate: {interest}; Number of years={n}")

Intersest rate: 3; Number of years=1

In [ ]:
print("Interest rate: %f" % interest)

Interest rate: 3.000000

In [ ]:
interest = float(input("Enter interest value (%): "))
principal = float(input("Enter initial amount ($): "))
n = int(input("Enter number of years: "))

final = principal * (1 + interest/100) ** n

print(f"Total amount after {n} year(s): {final}$")

Enter interest value (%): 3
Enter initial amount ($): 3000
Enter number of years: 1
Total amount after 1 year(s): 3090.0$

WEEK 3

In [ ]:
if condition:
  exprs
  exprs
elif another_condition:
  exprs
else:
  exprs

In [ ]:
email = "URGENT!! Click www.phis.org to get your reward"
has_urgent = "URGENT"
has_www = "www."

if has_urgent in email:
  print("Phising!")
elif has_www in email:
  print("Spam!")
else:
  print("Legit!")

Phising!

In [ ]:
grade = float(input("Enter numerical grade (0-100): "))

if grade >= 97:
  print("A+")
elif grade >= 93:
  print("A")

Enter numerical grade (0-100): 99
A+

In [ ]:
if cond1:
  if cond2:
    exprs

In [ ]:
email = "Click on the following: www.phis.org to..."
has_urgent = "URGENT"
has_link = "www."

if has_urgent in email:
  if has_link in email:
    print("Phising!")
  else:
    print("Spam!")
else:
    print("Legit!")

Legit!

In [ ]:
email = "URGENT!! Click on the following: www.phis.org to..."
has_urgent = "URGENT"
has_link = "www."

if has_urgent in email and has_link in email:
  print("Phising!")
elif has_urgent in email:
  print("Spam!")
else:
  print("Legit!")

Phising!

In [ ]:
x = 5

if x % 2 == 0:
  print("Even")
else:
  print("Odd")

Odd

In [ ]:
print("Even" if x % 2 == 0 else "Odd")

Odd

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
op = input("Choose numerical operation (e.g., +, -, *, /, etc.): ")

res = None

if op == "+":
  res = num1 + num2
elif op == "-":
  res = num1 - num2
elif op == "*":
  res = num1 * num2
elif op == "/":
  res = num1 / num2
elif op == "//":
  res = num1 // num2
elif op == "**":
  res = num1 ** num2
elif op == "%":
  res = num1 % num2
else:
  print("Invalid operation")

print(f"Result: {res}")

Enter first number: 8
Enter second number: 5
Choose numerical operation (e.g., +, -, *, /, etc.): in
Invalid operation
Result: None

WEEK 3

In [ ]:
5 in [1,2,3]

False

In [ ]:
for variable in sequence:

In [ ]:
sales = float(input("Enter sales ($): "))
tax_rate = float(input("Enter tax_rate (%)= "))

for tax_rate in range(20, 50, 10):
  cogs = 0.4 * sales
  gross_profit = sales - cogs
  taxes = gross_profit * tax_rate / 100
  net_income = gross_profit - taxes

  print(f"Sales: {sales}$")
  print(f"Tax Rate: {tax_rate}%")
  print(f"Cost of Goods Sold: {cogs}$")
  print(f"Gross Profit: {gross_profit}$")
  print(f"Taxes: {taxes}$")
  print(f"Net Income: {net_income}$")
  print()

Enter sales ($): 12000
Enter tax_rate (%)= 20
Sales: 12000.0$
Tax Rate: 20%
Cost of Goods Sold: 4800.0$
Gross Profit: 7200.0$
Taxes: 1440.0$
Net Income: 5760.0$

Sales: 12000.0$
Tax Rate: 30%
Cost of Goods Sold: 4800.0$
Gross Profit: 7200.0$
Taxes: 2160.0$
Net Income: 5040.0$

Sales: 12000.0$
Tax Rate: 40%
Cost of Goods Sold: 4800.0$
Gross Profit: 7200.0$
Taxes: 2880.0$
Net Income: 4320.0$

In [ ]:
for i in range(-1, 6, 2):
  print(f"i = {i}")

i = -1
i = 1
i = 3
i = 5

In [ ]:
for x in range(3):
  print (x ** 2)

0
1
4

In [ ]:
x = 0
while x < 3:
  print(x ** 2)
  x += 1

0
1
4

WEEK 4

In [ ]:
check = input("Print greeting (y/n)? ")
while check == 'y':
  name = input("Give a name: ")
  print(f"Hello, {name}")
  check = input("Do you want to continue (y/n)?")

Print greeting (y/n)? y
Give a name: bob
Hello, bob
Do you want to continue (y/n)?n

In [ ]:
stop = 0
while True:
  if stop == 5:
    break
  print("This will run forever;" , stop)
  stop += 1

print(stop)

This will run forever; 0
This will run forever; 1
This will run forever; 2
This will run forever; 3
This will run forever; 4
5

In [ ]:
for i in range(10):
  if i % 2 != 0:
    continue
  print(i)

0
2
4
6
8

In [ ]:
for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [1]:
'Scissors' .lower()

'scissors'