<a href="https://colab.research.google.com/github/ateglia/Angelina/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IN CLASS ASSIGNMENT #1

In [ ]:
sales = float(input("Enter sales ($):"))

cogs = 0.4 * sales
gross_profit = sales - cogs

print(f"Sales: {sales}$")
print(f"Cost of Goods Sold: {cogs}$")
print(f"Gross Profit: {gross_profit}$")

Enter sales ($):12000
Sales: 12000.0$
Cost of Goods Sold: 4800.0$
Gross Profit: 7200.0$

In [ ]:
sales = float(input("Enter sales ($): "))
tax_rate = float(input("Enter tax_rate (%)= "))

cogs = 0.4 * sales
gross_profit = sales - cogs
taxes = gross_profit * tax_rate / 100
net_income = gross_profit - taxes

print(f"Sales: {sales}$")
print(f"Cost of Goods Sold: {cogs}$")
print(f"Gross Profit: {gross_profit}$")
print(f"Tax Rate: {tax_rate}%")
print(f"Taxes: {taxes}$")
print(f"Net Income: {net_income}$")

Enter sales ($): 120000
Enter tax_rate (%)= 10
Sales: 120000.0$
Cost of Goods Sold: 48000.0$
Gross Profit: 72000.0$
Tax Rate: 10.0%
Taxes: 7200.0$
Net Income: 64800.0$

IN CLASS ASSIGNMENT #2

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
op = input("Choose numerical operation (e.g., +, -, *, /, etc.): ")

res = None

if op == "+":
  res = num1 + num2
elif op == "-":
  res = num1 - num2
elif op == "*":
  res = num1 * num2
elif op == "/":
  res = num1 / num2
elif op == "//":
  res = num1 // num2
elif op == "**":
  res = num1 ** num2
elif op == "%":
  res = num1 % num2
else:
  print("Invalid operation")

print(f"Result: {res}")

Enter first number: 8
Enter second number: 2
Choose numerical operation (e.g., +, -, *, /, etc.): -
Result: 6.0

IN CLASS ASSIGNMENT 3

In [ ]:
print("Hour\tFee")
for hour in range(1, 9):
  fee = 5 + 2.5 * hour
  print(f"{hour}\t{fee}")

Hour	Fee
1	7.5
2	10.0
3	12.5
4	15.0
5	17.5
6	20.0
7	22.5
8	25.0

In [ ]:
print("Hour\tFee")
for hour in range(1, 9):
  fee = 5 + 2.5 * hour
  if fee < 10.0:
    fee = 10.0
  elif fee > 20.0:
    fee = 20.0
  print(f"{hour}\t{fee}")

Hour	Fee
1	10.0
2	10.0
3	12.5
4	15.0
5	17.5
6	20.0
7	20.0
8	20.0

In [2]:
print("Hour\tFee")
hour = 1
while hour < 9:
  fee = 5 + 2.5 * hour
  if fee < 10 :
    fee = 10
  elif fee > 20:
    fee = 20
  print(f"{hour}\t{fee}")
  hour += 1

Hour	Fee
1	10
2	10.0
3	12.5
4	15.0
5	17.5
6	20.0
7	20
8	20

IN CLASS ASSIGNMENT #4

In [ ]:
import math

ticketPrice = 10
initAttendees = 20

print("Ad$\tProfit")
for ad in range(0,201,25):
  revenue = (initAttendees + 2 *round(math.sqrt(ad))) * ticketPrice
  costs = 200 + ad
  profit = revenue - costs
  print(f"{float(ad)}\t{float(profit)}")

Ad$	Profit
0.0	0.0
25.0	75.0
50.0	90.0
75.0	105.0
100.0	100.0
125.0	95.0
150.0	90.0
175.0	85.0
200.0	80.0

In [ ]:
import math

ticketPrice = 10
initAttendees = 20

print("Ad$\tProfit")
ad = 0
while ad < 201:
  revenue = (initAttendees + 2 *round(math.sqrt(ad))) * ticketPrice
  costs = 200 + ad
  profit = revenue - costs
  print(f"{float(ad)}\t{float(profit)}")
  ad += 25

Ad$	Profit
0.0	0.0
25.0	75.0
50.0	90.0
75.0	105.0
100.0	100.0
125.0	95.0
150.0	90.0
175.0	85.0
200.0	80.0